// Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
@import url("https://use.typekit.net/sag0idn.css");

$sans: 'Montserrat', sans-serif;
$decorative: 'banshee-std', sans-serif;
$header-font: $decorative;

// $light: 300;
$normal: 400;
$heavy: 700;
$bold: 800,